.icon-red {
    border: 1px solid red;
    color: red;
    background-color: white;
    border-radius: 10px;
    padding: 5px
}
.icon-red:hover{
    cursor: none
}
.icon-green {
    width: 70%;
    border: 1px solid green;
    color:green;
    background-color: white;
    border-radius: 10px;
    padding: 5px
}
.icon-green:hover{
    cursor: none
}